<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="27766TechnicallyReal.LittleLauncher"
    Publisher="CN=C21E6CEF-D0D1-4497-93F9-3718D054DA0E"
    Version="VERSION_PLACEHOLDER"
    ProcessorArchitecture="ARCH_PLACEHOLDER" />

  <Properties>
    <DisplayName>Little Launcher</DisplayName>
    <PublisherDisplayName>TechnicallyReal</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.22000.0" MaxVersionTested="10.0.26100.0" />
    <PackageDependency Name="Microsoft.WindowsAppRuntime.1.8" MinVersion="8000.770.947.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="LittleLauncher.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Little Launcher"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\LittleLauncher.png"
        Description="A launcher widget embedded in the Windows 11 taskbar with SSH/SFTP settings sync.">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  ShortName="Little Launcher" Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.startupTask">
          <desktop:StartupTask
            TaskId="LittleLauncherStartup"
            Enabled="false"
            DisplayName="Little Launcher" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
